.actualite {
  display: flex;
  margin-top: 30px;
  padding: 0px 10px;
  margin-left: 50px;

  .event {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 10px;
    padding: 30px 30px;
    font-size: 15px;
    width: 250px;

    h3 {
      color: #182b49;
      padding-bottom: 10px;
      font-size: 25px;
    }

    .event-text {
      ul {
        list-style: none;
        font-size: 14px;
        li {
          padding-bottom: 10px;
          font-weight: 500;
          display: flex;
          flex-direction: column;
          span {
            font-weight: 100;
            color: #182b49;
          }
        }
      }
    }
  }

  .blogs {
    display: flex;
    justify-content: space-between;

    .blog {
      margin-left: 30px;
      width: 260px;
      font-size: 14px;
      line-height: 22px;

      img {
        padding-bottom: 15px;
      }

      h1 {
        padding-bottom: 15px;
        color: #182b49;
      }

      p {
        font-family: "Roboto", sans-serif;
        padding-bottom: 15px;
      }

      span {
        padding-bottom: 15px;
        color: #07a159;
        padding: 5px;
        cursor: pointer;

        &:hover {
          color: #182b49;
          text-decoration: underline #182b49;
        }
      }
    }
  }
}
